:root {
  /* previos value : #ffffff */
  --background: #F7F7F7;
  --background-secondary: rgba(235, 234, 234, 0.842);

  --foreground: #111111;

  --card: #ffffff;
  --card-hover: #fafafa;

  --muted: #e2e0e0;
  --muted-foreground: #737373;

  --border: #eaeaea;
  --border-hover: #d4d4d4;

  --primary: #242424;
  --primary-foreground: #ffffff;

  /* Semantic colors */

  --success: #16a34a;
  --warning: #d97706;
  --error: #dc2626;
  --info: #2563eb;
}

.dark {
  /* =========================
       DARK THEME
       ========================= */

  --background: #191919;
  --background-secondary: #242424;

  --foreground: #ededed;

  --card: #111111;
  --card-hover: #181818;

  --muted: #363636;
  --muted-foreground: #a1a1a1;

  --border: #262626;
  --border-hover: #3f3f3f;

  --primary: #ededed;
  --primary-foreground: #000000;

  /* Semantic colors */

  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;
  --info: #3b82f6;
}
